.hdr{
  background-color: lightgray;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.btn{
  color: green;
  font-size: 20px;
  margin-top: 10px;
}
.btn:hover{
    background-color: lime;
    cursor: pointer;
    color: violet;
    border: 7px solid purple;
}

.rn{
text-decoration: underline;
background-color: green;
}