.card{
  background-color: red;
  height: 300px;
  width: 300px;
  padding: 80px;
  margin: 40px;
    border-radius: 20px;
    padding-left: 250px;
}

.nav{
  background-color: rgb(106, 106, 212);
  height: 100px;
  width: 100%;
  padding: 20px;
margin: 0px;
    border-radius: 20px;
    padding-left: 250px;  
    

}